<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div th:fragment="alertas" class="alertas">
    <div th:if="${bien}" class="alert alert-success alert-dismissible fade show" role="alert" id="myAlert">
      <strong>[[${bien}]]</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div th:if="${mal}" class="alert alert-danger alert-dismissible fade show" role="alert" id="myAlert">
      <strong>[[${mal}]]</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</body>
</html>