<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Muro</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<style>
    .post{
        color: antiquewhite;
    }

    .sidebar{
        background-color: #495057;
    }

    body{
        background-color: #e9ecef;
    }
</style>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark mb-3" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">El MURO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
          <div class="d-flex" role="search">
            <div class="text-light me-3" th:text="${session.user.name}"></div>
            <a href="/logout" class="btn btn-outline-secondary">Logout</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
    <div th:replace="~{fragments/fragments :: alertas}"></div>
    <div class="row">
      <div class="col-3 sidebar">
        <h4>Sidebar</h4>
      </div>
      <div class="col-9">
        <form class="p-4 bg-dark rounded shadow post" action="/messages" method="post">
          <div class="mb-3">
            <label class="form-label">Agrega un POST</label>
            <textarea class="form-control" name="message" placeholder="Leave a comment here"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-light">Crear</button>
        </form>
        <div id="mensajes">
          <div th:each="m: ${messages}" class="card rounded shadow bg-secondary m-2">
            <div class="card-body">
              <div class="row">
                <div class="col-10">
              <h5 class="card-title">[[${m.creatorsName}]]</h5>
                </div>
                <div class="col-2 likes-cont">
                  <span class="likes" th:id="|likes-${m.id}|">[[${m.likes}]]</span>
                  <a href="#" onclick="add_like(event)">
                    <i class="bi bi-hand-thumbs-up-fill" style="font-size: 2rem;" th:data-id="${m.id}"></i>
                  </a>
                </div>
              </div>
              <p class="card-text">[[${m.message}]]</p>
              <form class="p-1" method="post" action="/comments">
                <div class="mb-3">
                  <input type="hidden" name="message_id" th:value="${m.id}">
                  <input type="hidden" name="user_id" th:value="${session.user.id}">
                  <label class="form-label">Comentar</label>
                  <textarea class="form-control" placeholder="Leave a comment here" name="content"></textarea>
                </div>
                <button type="submit" class="btn btn-outline-light">Crear</button>
              </form>
              <a onclick="load_comments(event)" href="#" th:data-id="${m.id}">Ver comentarios</a>
              <div th:id="${m.id}" class="lista-comentarios">
              </div>
              <div class="lista-comentarios d-none">
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="muro.js"></script>
</body>
</html>